API_KEY=6c434ef84326bcd904c2a5b22d918644272da3a051cf5fa84f8feea92a7d0041
DATABASE_URL=https://sectors-news-endpoint.fly.dev
DB_LOCAL=http://127.0.0.1:5000
DB_KEY=
OPENAI_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
PROXY=